.contact {
    .contactTitle {
        font-weight: 500;
        font-size: 18px;
    }
    .mess-success {
        color: var(--heading_color);
    }
}
.icon{
    margin-right: 5px;
    margin-bottom: 2px;
    font-size: 24px;
    
}
.Mail{
    color: rgb(72, 102, 193);
}
.location{
    color: red;
}
